//Styling for footer

.site-footer {
  background: url(../../images/dark-wood@2x.png);
  background-size: 512px;
  height: 350px;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.site-info {
  font-size: 16px;
  text-align: center;
}

.footer-title {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  color: $color_orange-brand-color;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-logo {
  height: 70px;
}

.footer-copyright-text {
  color: $color__background-main;
  font-family: Novecento Sans Web;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
}
.footer-contents {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  // margin: 0 auto;
}
