//Styling for footer

.site-footer {
  background: url(../../images/dark-wood@2x.png);
  background-size: 512px; 
  height: 350px;
}

.footer-copyright-text{
    color: #ffffff;
    font-family: Novecento Sans Web;
    font-size: 24px;
    font-style: normal;
}

