/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @include font-size(0.75);
  line-height: 1;
  padding: 13px 28px;
  border: 1px solid black;
  background-color: transparent;

  &:hover {
    background-color: $color_green-brand-color;
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  color: #666;
  border-radius: 3px;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

.search-field {
  border: none;
}

.contact-form-label {
  color: #111;
  font-size: 24px;
  font-family: 'Novecento Sans Web';

  input,
  textarea {
    border: 1px solid #e1e1e1;
    background-color: #f4f4f4;
  }
}
