.product-categories-container {
  display: flex;
  img {
    width: 50px;
  }

  p{
   font-size: 16px;
  }
}

//Styling for Do Category Box
.do {
  flex: 1;
  margin-top: 16px;
  border: 1px solid #e1e1e1;
  &:hover{
    border: 1px solid $color_orange-brand-color;
  }
}

.do-logo {
  width: 100%;
}

//Styling for Eat Category Box
.eat {
  flex: 1;
  margin-top: 16px;
  border: 1px solid #e1e1e1;
  &:hover{
    border: 1px solid $color_orange-brand-color;
  }
}

.eat-logo {
  width: 100%;
}

//Styling for Sleep Category Box

.sleep {
  flex: 1;
  margin-top: 16px;
  border: 1px solid #e1e1e1;
  &:hover{
    border: 1px solid $color_orange-brand-color;
  }
}

.sleep-logo {
  width: 100%;
}

//Styling for Wear Category Box

.wear {
  flex: 1;
  margin-top: 16px;
  border: 1px solid #e1e1e1;
  &:hover{
    border: 1px solid $color_orange-brand-color;
  }
}

.wear-logo {
  width: 100%;
}

//Journal Feature Styling

read-more-btn {
  border: 1px solid #000;
  color: #000;
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
  &:hover {
    background-color: $color_green-brand-color;
  }
}

h2 {
  color: $color_green-brand-color;
  font-size: 25px;
}

.journal-title {
  font-size: 36px;
  color: $font_base-color;
}

.feature-container {
  display: flex;
}

.journal-container {
  flex: 1;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.journal-background {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.journal-meta {
  border: 1px solid #e1e1e1;
  border-top-width: 8px;
  min-height: 250px;
  padding: 16px;
}
